html {
  min-height: 100%;
  background: linear-gradient(-270deg, rgb(1, 28, 32), rgb(4, 67, 83));
}
p,
h1,
h4 {
  color: white !important;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}
.results::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.is-normal {
  background: linear-gradient(-270deg, rgb(5, 26, 29), rgb(24, 25, 26));
  color: white;
}
label b {
  color: white;
}
article.media {
  border: 0px solid greenyellow !important;
  transition: border 1s ease;
  padding: 10px;
}
article.media.isWinner {
  border: 2px solid greenyellow !important;
  border-radius: 5px;
}
article.media.isLoser {
  border: 2px solid rgb(255, 47, 109);
  border-radius: 5px;
}
